body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #2446db;
  color: #df28c4;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

header {
  background-color: #df28c4;
  color: #e3ed0d;
  padding: 15px 0;
  text-align: center;
}

h1 {
  margin: 0; /* Removes any default margin around the h1 heading */
}

main {
  padding: 20px; /* Adds padding inside the main content area */
}

section {
  margin-bottom: 20px; /* Adds space at the bottom of each section */
}

footer {
  background-color: #df28c4;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed; /* Fixes the footer at the bottom of the page */
  bottom: -20px;
  width: 100%;
}

.question-container {
  display: flex; /* activates flexbox */
  flex-wrap: wrap; /* puts cards on next side when not enough space */
  gap: 20px; /* distance between cards */
  justify-content: space-between; /* even distance */
  padding: 20px; /* Adds padding around the question container */
}

.question-card {
  background-color: #e3ed0d;
  border: 1px; /* Sets a basic border */
  border-radius: 20px; /* Rounds the corners of the card */
  padding: 40px;
  margin-bottom: 20px; /* Adds space below each card */
  text-align: center;
  width: calc(
    33.333% - 20px
  ); /* Makes each card take up one-third of the container with space in between */
  box-sizing: border-box; /* Ensures padding and border are included in the card's width */
}

.bookmarks-container {
  display: flex; /* activates flexbox */
  flex-wrap: wrap; /* puts cards on next side when not enough space */
  gap: 20px; /* distance between cards */
  justify-content: space-between; /* even distance */
  padding: 20px;
}

.bookmark-card {
  background-color: #e3ed0d;
  border: 1px;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 20px;
  text-align: center;
  width: calc(33.333% - 20px); /* three cards per row with 20px distance */
  box-sizing: border-box;
}

.answer-button {
  display: block; /* Makes the button a block element (full width) */
  margin: 5px;
  padding: 20px;
  background-color: orange;
  color: #2446db;
  border: none;
  width: 100%; /* Makes the button span the full width of the card */
  border-radius: 20px;
  font-size: 20px;
}

.tags {
  margin-top: 20px; /* Adds space above the tags section */
  text-align: left;
}

.footer-nav {
  display: flex;
  justify-content: space-around; /* Spreads out the navigation items evenly */
  padding: 10px;
  background-color: #df28c4;
}

.footer-nav .nav-item {
  display: inline-block; /* Ensures the navigation items are inline */
  color: white;
  text-decoration: none; /* takes away the underlining of the links */
  margin: 10px; /* distance between links */
  font-size: 20px;
}

.footer-nav .nav-item:hover {
  color: #e3ed0d; /* Changes color when hovering over link */
}

.footer-nav .nav-item img {
  vertical-align: middle; /* Vertically aligns the image to the middle of the text */
  margin-right: 8px; /* Adds a small margin to the right of the image */
}
.footer-nav .nav-item.active {
  color: #e3ed0d;
  border-bottom: 2px solid #e3ed0d; /* Adds a yellow border under the active item */
}

.profile-container {
  max-width: 600px;
  margin: 0;
  padding: 20;
  text-align: center;
}

.hidden {
  display: none;
}

.active {
  filter: grayscale(0);
}

.bookmark img {
  cursor: pointer;
  content: url("./resources/bookmark_transparent.png");
}

.bookmark img.active {
  content: url("./resources/bookmark_filled.png"); /*activates pic */
}

.card {
  background-color: orange;
  border: 1px; /* Sets a basic border */
  border-radius: 20px; /* Rounds the corners of the card */
  padding: 40px;
  margin-bottom: 20px; /* Adds space below each card */
  text-align: center;
  width: calc(
    33.333% - 20px
  ); /* Makes each card take up one-third of the container with space in between */
  box-sizing: border-box; /* Ensures padding and border are included in the card's width */
}

.new-card-form {
  background-color: orange;
  border: 1px; /* Sets a basic border */
  border-radius: 20px; /* Rounds the corners of the card */
  padding: 40px;
  margin-bottom: 20px; /* Adds space below each card */
  text-align: left;
  width: calc(
    33.333% - 20px
  ); /* Makes each card take up one-third of the container with space in between */
  box-sizing: border-box; /* Ensures padding and border are included in the card's width */
}

button {
  display: block; /* Makes the button a block element (full width) */
  margin: 30px;
  padding: 5px;
  background-color: #2446db;
  color: #e3ed0d;
  border: none;
  width: 80%; /* Makes the button span the 80% of the card */
  border-radius: 20px;
  font-size: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #5aea26;
}

button:active {
  transform: scale(0.95); /* Button shrinks when clicked */
}
